<footer class="footer">
  {% include social-icons.html %}
  <div class="footer-description"><a href="{{ site.github.url }}/index.html" style="color: transparent;">{{ site.title }} | {{ site.description }}</a></div>
</footer>

<script src="{{ site.github.url }}/assets/js/theme-toggle.js" defer></script>

<script>
    if (window.location.pathname !== '/') { // Check if the current page is not the homepage
        document.querySelectorAll('header *').forEach(element => {
            element.style.color = ''; // Reset to original color
        });
        setTimeout(() => {
            document.querySelectorAll('footer *').forEach(element => {
                element.style.color = '';
            });
        }, 1000);
    }
</script>