<div class="menu">
  <nav class="menu-content">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
<!--   <nav class="social-icons">
    {% include social-icons.html %}
  </nav> -->
  <nav class="social-icons">
    <a id="music-icon" title="Play Music"><i class="fa fa-compact-disc" aria-hidden="true"></i></a>
  </nav>
</div>

<audio id="background-music" loop></audio>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const musicIcon = document.getElementById("music-icon");
    const music = document.getElementById("background-music");

    const songs = [
      '/assets/aud/daylight.mp3',
      '/assets/aud/uletali_pticami_gordymi.mp3',
      '/assets/aud/the_portrait.mp3',
      // Add more song paths here if needed
    ];

    function getRandomSong() {
      return songs[Math.floor(Math.random() * songs.length)];
    }

    function playRandomSong() {
      const randomSong = getRandomSong();
      music.src = randomSong;
      music.play();
      musicIcon.querySelector("i").classList.add("fa-spin");
      musicIcon.title = "Pause Music";
    }

    // Restore music state from localStorage
    if (localStorage.getItem("musicTime")) {
      music.currentTime = localStorage.getItem("musicTime");
    }
    if (localStorage.getItem("musicPlaying") === "true") {
      playRandomSong();
      musicIcon.querySelector("i").classList.add("fa-spin");
      musicIcon.title = "Pause Music";
    } else {
      musicIcon.title = "Play Music";
    }

    musicIcon.addEventListener("click", function() {
      if (music.paused) {
        playRandomSong();
        localStorage.setItem("musicPlaying", "true");
      } else {
        music.pause();
        musicIcon.querySelector("i").classList.remove("fa-spin");
        musicIcon.title = "Play Music";
        localStorage.setItem("musicPlaying", "false");
      }
    });

    // Save music state before leaving the page
    window.addEventListener("beforeunload", function() {
      localStorage.setItem("musicTime", music.currentTime);
      localStorage.setItem("musicPlaying", !music.paused);
    });

    // Play next random song when the current one ends
    music.addEventListener("ended", playRandomSong);
  });
</script>