/* Dark Theme */
body.dark-mode {
    background-color: #000000; /* Reverse white to black */
    color: #fafafa; /* Reverse dark grey to light grey */
    cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 320 512"%3E%3Cpath fill="%23FFFFFF" stroke="%23000000" stroke-width="5" d="M0 55.2L0 426c0 12.2 9.9 22 22 22c6.3 0 12.4-2.7 16.6-7.5L121.2 346l58.1 116.3c7.9 15.8 27.1 22.2 42.9 14.3s22.2-27.1 14.3-42.9L179.8 320l118.1 0c12.2 0 22.1-9.9 22.1-22.1c0-6.3-2.7-12.3-7.4-16.5L38.6 37.9C34.3 34.1 28.9 32 23.2 32C10.4 32 0 42.4 0 55.2z"/%3E%3C/svg%3E') 0 0, auto;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
    color: #cccccc; /* Reverse #333 to lighter grey */
}

body.dark-mode a {
    color: #cccccc; /* Reverse #333 to lighter grey */
    cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512"%3E%3Cpath fill="%23FFFFFF" stroke="%23000000" stroke-width="5" d="M128 40c0-22.1 17.9-40 40-40s40 17.9 40 40l0 148.2c8.5-7.6 19.7-12.2 32-12.2c20.6 0 38.2 13 45 31.2c8.8-9.3 21.2-15.2 35-15.2c25.3 0 46 19.5 47.9 44.3c8.5-7.7 19.8-12.3 32.1-12.3c26.5 0 48 21.5 48 48l0 48 0 16 0 48c0 70.7-57.3 128-128 128l-16 0-64 0-.1 0-5.2 0c-5 0-9.9-.3-14.7-1c-55.3-5.6-106.2-34-140-79L8 336c-13.3-17.7-9.7-42.7 8-56s42.7-9.7 56 8l56 74.7L128 40zM240 304c0-8.8-7.2-16-16-16s-16 7.2-16 16l0 96c0 8.8 7.2 16 16 16s16-7.2 16-16l0-96zm48-16c-8.8 0-16 7.2-16 16l0 96c0 8.8 7.2 16 16 16s16-7.2 16-16l0-96c0-8.8-7.2-16-16-16zm80 16c0-8.8-7.2-16-16-16s-16 7.2-16 16l0 96c0 8.8 7.2 16 16 16s16-7.2 16-16l0-96z"/%3E%3C/svg%3E') 8 0, auto;
}

body.dark-mode a:hover {
    color: #ffffff; /* Reverse #000 to white */
}

body.dark-mode .container .header a:hover {
    color: #ffffff; /* Reverse #000 to white */
}

body.dark-mode blockquote {
    border-left-color: #444444; /* Reverse #ccc to darker grey */
    color: #cccccc; /* Reverse #999 to lighter grey */
}

body.dark-mode hr {
    border-top-color: #444444; /* Reverse #ccc to darker grey */
}

body.dark-mode code,
body.dark-mode pre {
    background-color: #444444; /* Reverse #f5f5f5 to darker grey */
    color: #fafafa; /* Reverse text color to light grey */
}

body.dark-mode .container {
    background-color: #000000; /* Darker background for container */
}

body.dark-mode .header-title a,
body.dark-mode .header-subtitle,
body.dark-mode .menu-content a,
body.dark-mode .social-icons a,
body.dark-mode .footer a,
body.dark-mode .footer-description,
body.dark-mode .post-date {
    color: #cccccc; /* Reverse #505050 and #999 to lighter grey */
}

body.dark-mode .pagination-button {
    color: #cccccc; /* Reverse #999 to lighter grey */
    border-color: #333333; /* Darken border */
}

body.dark-mode .pagination-active:hover {
    background-color: #555555; /* Reverse #e0e0e0 to darker grey */
}

body.dark-mode #videoElement, #imageElement{
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 640 512" fill="%23000000"><path d="M155.6 17.3C163 3 179.9-3.6 195 1.9L320 47.5l125-45.6c15.1-5.5 32 1.1 39.4 15.4l78.8 152.9c28.8 55.8 10.3 122.3-38.5 156.6L556.1 413l41-15c16.6-6 35 2.5 41 19.1s-2.5 35-19.1 41l-71.1 25.9L476.8 510c-16.6 6.1-35-2.5-41-19.1s2.5-35 19.1-41l41-15-31.3-86.2c-59.4 5.2-116.2-34-130-95.2L320 188.8l-14.6 64.7c-13.8 61.3-70.6 100.4-130 95.2l-31.3 86.2 41 15c16.6 6 25.2 24.4 19.1 41s-24.4 25.2-41 19.1L92.2 484.1 21.1 458.2c-16.6-6.1-25.2-24.4-19.1-41s24.4-25.2 41-19.1l41 15 31.3-86.2C66.5 292.5 48.1 226 76.9 170.2L155.6 17.3zm44 54.4l-27.2 52.8L261.6 157l13.1-57.9L199.6 71.7zm240.9 0L365.4 99.1 378.5 157l89.2-32.5L440.5 71.7z"/></svg>') 32 32, auto;
}

body.dark-mode #music-icon {
    cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512"%3E%3Cpath fill="%23FFFFFF" stroke="%23000000" stroke-width="5" d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z"/%3E%3C/svg%3E') 9 9, auto;
}

/* Specific Styles for the welcome text */
body.dark-mode .welcome-text h1 {
    color: #cccccc; /* Reverse #616161 to lighter grey */
}

body.dark-mode .welcome-text h2 {
    color: #000000;
}

body.dark-mode .welcome-text h2 .typed {
    color: #fafafa;
}

/* Specific Styles for scroll container */
body.dark-mode .scroll-container {
    background-color: #080808; /* Reverse #f7f7f7 to #080808 */
}

.transition * {
    transition: background-color 10s, color 10s, border-color 10s;
}