/* Dark Theme */
body.dark-mode {
    background-color: #000000; /* Reverse white to black */
    color: #fafafa; /* Reverse dark grey to light grey */
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
    color: #cccccc; /* Reverse #333 to lighter grey */
}

body.dark-mode a {
    color: #cccccc; /* Reverse #333 to lighter grey */
}

body.dark-mode a:hover {
    color: #ffffff; /* Reverse #000 to white */
}

body.dark-mode blockquote {
    border-left-color: #444444; /* Reverse #ccc to darker grey */
    color: #cccccc; /* Reverse #999 to lighter grey */
}

body.dark-mode hr {
    border-top-color: #444444; /* Reverse #ccc to darker grey */
}

body.dark-mode code,
body.dark-mode pre {
    background-color: #444444; /* Reverse #f5f5f5 to darker grey */
    color: #fafafa; /* Reverse text color to light grey */
}

body.dark-mode .container {
    background-color: #000000; /* Darker background for container */
}

body.dark-mode .header-title a,
body.dark-mode .header-subtitle,
body.dark-mode .menu-content a,
body.dark-mode .social-icons a,
body.dark-mode .footer a,
body.dark-mode .footer-description,
body.dark-mode .post-date {
    color: #cccccc; /* Reverse #505050 and #999 to lighter grey */
}

body.dark-mode .pagination-button {
    color: #cccccc; /* Reverse #999 to lighter grey */
    border-color: #333333; /* Darken border */
}

body.dark-mode .pagination-active:hover {
    background-color: #555555; /* Reverse #e0e0e0 to darker grey */
}

/* Specific Styles for the welcome text */
body.dark-mode .welcome-text h1 {
    color: #cccccc; /* Reverse #616161 to lighter grey */
}

body.dark-mode .welcome-text h2 {
    color: #fafafa; /* Reverse white text to light grey */
}