/* Dark Theme */
body.dark-mode {
    background-color: #000000; /* Reverse white to black */
    color: #cfcfcf;
    cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 320 512"%3E%3Cpath fill="%23FFFFFF" stroke="%23000000" stroke-width="5" d="M0 55.2L0 426c0 12.2 9.9 22 22 22c6.3 0 12.4-2.7 16.6-7.5L121.2 346l58.1 116.3c7.9 15.8 27.1 22.2 42.9 14.3s22.2-27.1 14.3-42.9L179.8 320l118.1 0c12.2 0 22.1-9.9 22.1-22.1c0-6.3-2.7-12.3-7.4-16.5L38.6 37.9C34.3 34.1 28.9 32 23.2 32C10.4 32 0 42.4 0 55.2z"/%3E%3C/svg%3E') 0 0, auto;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode a {
    color: #cccccc; /* Reverse #333 to lighter grey */
}

body.dark-mode h4 {
    color: #7f7f7f;
}

body.dark-mode a, body.dark-mode #compassIcon {
    cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512"%3E%3Cpath fill="%23FFFFFF" stroke="%23000000" stroke-width="5" d="M128 40c0-22.1 17.9-40 40-40s40 17.9 40 40l0 148.2c8.5-7.6 19.7-12.2 32-12.2c20.6 0 38.2 13 45 31.2c8.8-9.3 21.2-15.2 35-15.2c25.3 0 46 19.5 47.9 44.3c8.5-7.7 19.8-12.3 32.1-12.3c26.5 0 48 21.5 48 48l0 48 0 16 0 48c0 70.7-57.3 128-128 128l-16 0-64 0-.1 0-5.2 0c-5 0-9.9-.3-14.7-1c-55.3-5.6-106.2-34-140-79L8 336c-13.3-17.7-9.7-42.7 8-56s42.7-9.7 56 8l56 74.7L128 40zM240 304c0-8.8-7.2-16-16-16s-16 7.2-16 16l0 96c0 8.8 7.2 16 16 16s16-7.2 16-16l0-96zm48-16c-8.8 0-16 7.2-16 16l0 96c0 8.8 7.2 16 16 16s16-7.2 16-16l0-96c0-8.8-7.2-16-16-16zm80 16c0-8.8-7.2-16-16-16s-16 7.2-16 16l0 96c0 8.8 7.2 16 16 16s16-7.2 16-16l0-96z"/%3E%3C/svg%3E') 8 0, auto;
}

body.dark-mode a:hover,
body.dark-mode .container .header a:hover {
    color: #ffffff; /* Reverse #000 to white */
}

body.dark-mode blockquote {
    border-left-color: #444444; /* Reverse #ccc to darker grey */
    color: #cccccc; /* Reverse #999 to lighter grey */
}

body.dark-mode hr {
    border-top-color: #444444; /* Reverse #ccc to darker grey */
}

body.dark-mode code,
body.dark-mode pre {
    background-color: #444444; /* Reverse #f5f5f5 to darker grey */
    color: #fafafa; /* Reverse text color to light grey */
}

/*body.dark-mode .container {
    background-color: #000000; /* Darker background for container */
}*/

body.dark-mode .header-title a,
body.dark-mode .header-subtitle,
body.dark-mode .menu-content a,
body.dark-mode .social-icons a,
body.dark-mode .footer a,
body.dark-mode .footer-description,
body.dark-mode .post-date {
    color: #cccccc; /* Reverse #505050 and #999 to lighter grey */
}

body.dark-mode .pagination-button {
    color: #cccccc; /* Reverse #999 to lighter grey */
    border-color: #333333; /* Darken border */
}

body.dark-mode .pagination-active:hover {
    background-color: #555555; /* Reverse #e0e0e0 to darker grey */
}

body.dark-mode .header-title a {
    color: #cfcfcf;
}

body.dark-mode .header-subtitle {
    color: #666666;
}

body.dark-mode .menu-content a {
    color: #979797;
}

/*body.dark-mode #videoElement.homevideo1, #imageElement{
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="64" viewBox="0 0 288 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M216 464h-40V346.8c68.5-15.9 118.1-79.9 111.4-154.2l-16-178.1C270.7 6.3 263.9 0 255.7 0H32.3c-8.2 0-15 6.3-15.7 14.6L.6 192.7C-6.1 266.9 43.5 330.9 112 346.8V464H72c-22.1 0-40 17.9-40 40 0 4.4 3.6 8 8 8h208c4.4 0 8-3.6 8-8 0-22.1-17.9-40-40-40zM61.8 48h164.5l7.2 80H54.6l7.2-80z"/></svg>') 32 32, auto;
}

body.dark-mode #videoElement.homevideo2 {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M288 167.2v-28.1c-28.2-36.3-47.1-79.3-54.1-125.2-2.1-13.5-19-18.8-27.8-8.3-21.1 24.9-37.7 54.1-48.9 86.5 34.2 38.3 80 64.6 130.8 75.1zM400 64c-44.2 0-80 35.9-80 80.1v59.4C215.6 197.3 127 133 87 41.8c-5.5-12.5-23.2-13.2-29-.9C41.4 76 32 115.2 32 156.6c0 70.8 34.1 136.9 85.1 185.9 13.2 12.7 26.1 23.2 38.9 32.8l-143.9 36C1.4 414-3.4 426.4 2.6 435.7 20 462.6 63 508.2 155.8 512c8 .3 16-2.6 22.1-7.9l65.2-56.1H320c88.4 0 160-71.5 160-159.9V128l32-64H400zm0 96.1c-8.8 0-16-7.2-16-16s7.2-16 16-16 16 7.2 16 16-7.2 16-16 16z"/></svg>') 32 32, auto;
}

body.dark-mode #videoElement.homevideo3 {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M290.6 192c-20.2 0-106.8 2-162.6 86V192c0-52.9-43.1-96-96-96-17.7 0-32 14.3-32 32s14.3 32 32 32c17.6 0 32 14.4 32 32v256c0 35.3 28.7 64 64 64h176c8.8 0 16-7.2 16-16v-16c0-17.7-14.3-32-32-32h-32l128-96v144c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V289.9c-10.3 2.7-20.9 4.5-32 4.5-61.8 0-113.5-44.1-125.4-102.4zM448 96h-64l-64-64v134.4c0 53 43 96 96 96s96-43 96-96V32l-64 64zm-72 80c-8.8 0-16-7.2-16-16s7.2-16 16-16 16 7.2 16 16-7.2 16-16 16zm80 0c-8.8 0-16-7.2-16-16s7.2-16 16-16 16 7.2 16 16-7.2 16-16 16z"/></svg>') 32 32, auto;
}*/

body.dark-mode #music-icon {
    cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512"%3E%3Cpath fill="%23FFFFFF" stroke="%23000000" stroke-width="5" d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7l0 72 0 264c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L448 147 192 223.8 192 432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6L128 200l0-72c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z"/%3E%3C/svg%3E') 9 9, auto;
}

/* Specific Styles for the welcome text */
body.dark-mode .welcome-text h1 {
    color: #cccccc; /* Reverse #616161 to lighter grey */
}

body.dark-mode .welcome-text h2 {
    color: #000000;
}

body.dark-mode .welcome-text h2 .typed {
    color: #fafafa;
}

body.dark-mode #welcomeQuote{
    color: #565656;
}

/* Specific Styles for scroll container */
body.dark-mode .scroll-container {
    background-color: #1F1F1F;
}

body.dark-mode .footer,
body.dark-mode .footer, a {
    color: #666666;
}

body.dark-mode .tipcolor-1 {
    color: #363636;
}
body.dark-mode .tipcolor-2 {
    color: #000000;
}

body.dark-mode .timeline:before {
    background-color: white;
}

body.dark-mode .timeline-event:hover .timeline-event-icon {
    background-color: #f2f2f2;
}

body.dark-mode .timeline-event-icon {
    background-color: white;
    outline: 10px solid black;
}

body.dark-mode .timeline-event-thumbnail {
    color: black;
    background-color: white;
}